.*
!.github
!.gitignore
!*.env.example
!.dockerignore
!copilot/.workspace
!.codebuild/
buildspec.yml.orig

# Generated task definition
task_def.backend.json
task_def.frontend.json

# Created by https://www.gitignore.io/api/macos
# Edit at https://www.gitignore.io/?templates=macos

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/macos
*.code-workspace

serviceAccount.json
!.gcloudignore
docker-compose.yml
Makefile
Dockerfile
.dockerignore

Dockerfile.compose.build
default.conf
.eslintignore
.eslintrc.js
.prettierignore
tsconfig.json